.btn
{
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(0,0,0,.6);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em .78571429em;
  font-weight: 700;
  border-radius: .28571429rem;
  text-decoration: none;
  &__primary
  {
    background-color: #1678c2;
    color: #fff;
    text-shadow: none;
    &--small
    {
      padding: 5px 10px;
    }
  }
  &__success {
    background-color: #16ab39;
    color: #fff;
    text-shadow: none;
  }
  &__negative
  {
    background-color: #db2828;
    color: #fff;
    text-shadow: none;
  }
}