.header
{
  padding: 10px;
  border-bottom: 1px solid $brand-info;
  &__links
  {
    width: 50%;
    &--right
    {
      float: right;
    }
  }
  @media (min-width: 768px) {
    &__logo
    {
      width:100%;
    }
  }
  @media (min-width: 992px) {
    &__logo
    {
      width: 30%;
    }
  }
  &__logo
  {
    float: left;
    left:0;
    font-family: 'Abel', sans-serif;
    text-transform: none;
    font-size: 25px;
    &--sub-logo {
      margin-left: 50px;
      font-size: 2rem;
      padding: 0 5px;
    }

    &--link
    {
      text-decoration: none;
      color: $color-black;
    }

  }
}