.message {
  padding:10px;
  width:100%;
  border-radius: 2px;
  margin: 10px 0;
  &__success {
    border: 1px solid  $brand-success;
    background-color: $color-white;
    color: $brand-success;
    padding:10px;
  }
  &__error {
    border: 1px solid $brand-danger;
    background-color: $color-white;
    color: $brand-danger;
    padding:10px;
  }
}