.panel {
  border:1px solid $brand-info;
  &__header {
    border-bottom: 1px solid $brand-info;
    padding:10px;
    &--primary
    {
      color: $color-white;
      background-color: $brand-primary;
    }
  }
  &__body {
    padding:10px ;
  }
}