.table {
  width: 100%;
 &__head {
   background-color: $color-white;
   color: $color-white;
   &--primary {
     background-color: $brand-primary;
   }
   &--negative {
     background-color: $brand-danger;
   }
 }
}