@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://fonts.googleapis.com/css?family=Lato);.message {
  padding: 10px;
  width: 100%;
  border-radius: 2px;
  margin: 10px 0;
}

.message__success {
  border: 1px solid #2ab27b;
  background-color: #fff;
  color: #2ab27b;
  padding: 10px;
}

.message__error {
  border: 1px solid #d9534f;
  background-color: #fff;
  color: #d9534f;
  padding: 10px;
}

.form > div {
  position: relative;
  overflow: hidden;
}

.form__input {
  width: 100%;
  max-height: 50px;
  border: 1px solid gray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  font-size: 12px;
  outline: 0;
}

.form__input:valid {
  background: #fff;
}

.form__input:focus {
  border-color: #2579a9;
}

.form__input:focus + label {
  background: #3097D1;
  color: #fff;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
}

.form__label {
  -webkit-transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  position: absolute;
  color: #999;
  padding: 7px 6px;
}

.form__label {
  top: 2px;
  right: 100%;
  width: 100%;
  margin-right: -100%;
  bottom: 2px;
  max-height: 33px;
}

.form__input:focus + label {
  right: 0;
  margin-right: 0;
  width: 40%;
  padding-top: 5px;
}

.form__group {
  margin: 10px 0;
}

.btn {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em .78571429em;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid transparent;
  font-size: 14px;
  background-color: #DDD;
  color: #000;
  text-shadow: none;
}

.btn:hover {
  opacity: 0.7;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  border: 1px solid #919090;
}

.btn__primary {
  background-color: #3097D1;
  color: #fff;
  text-shadow: none;
}

.btn__primary--small {
  padding: 5px 10px;
}

.btn__primary:hover {
  opacity: 0.7;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  border: 1px solid #2579a9;
}

.btn__success {
  background-color: #2ab27b;
  color: #fff;
  text-shadow: none;
}

.btn__success:hover {
  opacity: 0.7;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  border: 1px solid #20895e;
}

.btn__negative {
  background-color: #d9534f;
  color: #fff;
  text-shadow: none;
}

.btn__negative:hover {
  opacity: 0.7;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  border: 1px solid #c9302c;
}

.header {
  padding: 10px;
  border-bottom: 1px solid #8eb4cb;
}

.header__links {
  width: 50%;
}

.header__links--right {
  float: right;
}

.header__logo {
  float: left;
  left: 0;
  width: 50%;
  font-family: 'Abel', sans-serif;
  text-transform: none;
  font-size: 25px;
}

.header__logo--sub-logo {
  margin-left: 50px;
  font-size: 20px;
  padding: 0 5px;
}

.header__logo--link {
  text-decoration: none;
  color: #000;
}

.panel {
  border: 1px solid #8eb4cb;
}

.panel__header {
  border-bottom: 1px solid #8eb4cb;
  padding: 10px;
}

.panel__header--primary {
  color: #fff;
  background-color: #3097D1;
}

.panel__body {
  padding: 10px;
}

.table {
  width: 100%;
}

.table__head {
  background-color: #fff;
  color: #fff;
}

.table__head--primary {
  background-color: #3097D1;
}

.table__head--negative {
  background-color: #d9534f;
}

body {
  font-family: 'Lato', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.clear {
  clear: both;
}

.mt-10 {
  margin-top: 10px;
}

.f-right {
  float: right;
}

