
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Lato");

// Variables
@import "variables";
// Message
@import "components/message";
// Form
@import "components/form";
// Button
@import "components/button";
// Header
@import "components/header";
// Panel
@import "components/panel";
// Table
@import "components/table";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body
{
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.clear {
  clear: both;
}

.mt-10 {
  margin-top:10px;
}

.f-right {
  float: right;
}
